/** HEADER STYLING */
.header__site {
	display: flex;
	flex-flow: row nowrap;
}

.header__logo {
	width: 50%;
	text-align: left;
}

.header__img {
	width: 80px;
	height: auto;
}

.header__headings {
	width: 50%;

}
.header__text {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
	.header__img {
		width: 55px;
		height: auto;
	}
}