body, html {
    height: 100%;
}


/** HEADER STYLING */
.header__site, .social__icons {
	display: flex;
	flex-flow: row nowrap;
}

.header__logo {
	width: 50%;
	text-align: left;
}

.header__img {
	width: 80px;
	height: auto;
}

.header__headings {
	width: 50%;

}
.header__text {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
	.header__img {
		width: 55px;
		height: auto;
	}
}

/** COVER STYLING */
.cover__background {
	background-image: url("../img/process.jpg");
	height: 40%;

	/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** ICON STYLING */
.social__icons {
	padding-top: 5px;
	justify-content: space-evenly;
}

/** FEATURED STYLING */
.featured__header {
	text-align: center;
}

.featured__work {
	max-width: 100%;
    height: auto;
}

.featured__description{
	text-align: center;