body, html {
    height: 100%;
    width: 100%;
}


/** SITE STYLING */
.site {
	display: flex;
	flex-flow: column nowrap;
}


/** HEADER STYLING */
.header__site, .social__icons {
	display: flex;
	flex-flow: row nowrap;
}

.header__logo {
	width: 50%;
	text-align: left;
}

.header__img {
	width: 80px;
	height: auto;
}

.header__headings {
	width: 50%;

}
.header__text {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

/** COVER STYLING */
.cover__section {
	order: 1;
	background-image: url("../img/process.jpg");
	height: 250px;

	/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** ICON STYLING */
.social__section {
	order: 3;
}

.social__icons {
	padding-top: 5px;
	justify-content: space-evenly;
}

/** FEATURED STYLING */
.featured__section {
	order: 2;
}

.featured__header {
	text-align: center;
}

.featured__work {
	max-width: 100%;
    height: auto;
}

.featured__description{
	text-align: center;
}

/******* MEDIA QUERIES **********/
@media screen and (min-width: 480px) {
	.header__img {
		width: 55px;
		height: auto;
	}
}

@media screen and (min-width: 740px) {
	.site {
		display: flex;
		flex-flow: row wrap;
	}

	.cover__section {
		order: 2;
		width: 90%;
	}

	.featured__section {
		order: 10;
	}

	.social__section {
		order: 1;
	}

	.social__icons {
		display: flex;
		flex-direction: column;
	}
}